*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: blue;
}
body{
    width: 480px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.bg-color-lightblue{
    background-color: lightblue;
}
.bg-color-purplee{
    background-color: purple;
}
.minus-radius{
    border-radius: 10%;
}
.mid-radius{
    border-radius: 20%;
}
.big-radius{
    border-radius: 50%;
}